@import "tailwindcss";

@theme{
  --color-primary: #009cff;
  --color-dark: #103741;
  --color-light: #FFF5F3;
}

/* curve pattern for nav bar */
/* .curves {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url(../img/bg-header-top.png) center center repeat-x;
  z-index: 1
} */